@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'), url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'), url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-mineShaft: #272727;
  --color-fiord: #465067;
  --color-cobalt: #0041a4;
  --color-asparagus: #73A56C;
  --color-mercury: #e8e8e8;
  --color-fruitSalad: #54994b;
  --color-gray: #878787;
  --color-athensGray: #eee;
  --color-gray8s: #8c8c8c;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /*Для .wrapper*/
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: 'Gilroy', sans-serif;
  /*Общий шрифт 700*/
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--color-mineShaft);
  /* background-color: black; */
}

img {
  max-width: 100%;
}

img,
svg {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*  Обязательно убираем маргины у заголовок. */
  margin: 0;
}

h1,
h2,
h3,
p,
a {
  /*перенос слов*/
  word-wrap: break-word;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: inherit;
  border: none;
}

.btn {
  position: relative;
  padding: 21px 46px;
  box-shadow: 0px 10px 50px 0px rgba(0, 221, 185, 0.25);
  border-radius: 15px;
  color: #FFF;
  background: linear-gradient(88deg, #0041A4 3.4%, #00A386 98.93%);
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:focus-visible {
  outline: none;
  background: var(--color-asparagus);
}

.btn:hover {
  background: linear-gradient(88deg, #00A386 3.4%, #0041A4 98.93%);
}

.btn:active {
  opacity: .7;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

[class*="__container"] {
  /*1310px = 1210px + 50px + 50px не менять!*/
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 70px;
}

.h2 {
  font-size: clamp(35px, 5vw, 45px);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-fiord);
}

.h3 {
  font-size: clamp(18px, 5vw, 25px);
  font-weight: 700;
}

.desc {
  margin: 0;
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 400;
}


/*Цвет для всех форм инпутов*/

::placeholder {
  line-height: 1.2;
  color: rgb(98, 98, 98);
}
/*-//- Цвет для всех форм инпутов*/

textarea {
  resize: none;
}

/* Шаблон микс и модификаторы (_) icone */
.icone__list {
  display: flex;
}

.icone__link {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
}

.icone__link:focus {
  opacity: .7;
}
/* // Шаблон микс и модификаторы (_) icone */


/* Шаблон микс figure */
.figure {
  position: relative;
  border-radius: 35px;
  /* background: url(../img/rectangle.png) left top / contain no-repeat; */
  background-color: var(--color-mercury);
}

.figure:before {
  content: "";
  position: absolute;
  top: -59px;
  left: 0;
  border-radius: 35px;
  border-top-right-radius: 30px;
  width: clamp(178px, 5vw, 306px);
  width: 26%;
  height: 111px;
  /* background: url(../img/rectangle.png) left top / contain no-repeat; */
  background-color: var(--color-mercury);
  z-index: -1;
}

.figure:after {
  content: "";
  position: absolute;
  top: -40px;
  left: clamp(178px, 5vw, 306px);
  left: 26%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fff;
}

.figure-span {
  position: absolute;
  top: -27px;
  left: clamp(177px, 5vw, 305px);
  left: 25%;
  display: inline-block;
  border-bottom: 30px solid #e8e8e8;
  border-right: 30px solid transparent;
}


/* // Шаблон микс figure */


/* Шаблон микc. Показать и скрыть часть текста  jquery */

.content-toggle {
  display: none;
}


/* // Шаблон микc. Показать и скрыть часть текста  jquery */


/*биб swiper*/

.swiper {
  overflow: hidden;
}


/* Шаблон микс и модификаторы (_) pattern (about, portfolio)*/

.pattern__h3 {
  margin-bottom: 24px;
  line-height: 1.12;
  color: var(--color-fruitSalad);
}

.pattern__desc {
  margin-bottom: 18px;
  font-weight: 500;
  line-height: 1.2;
}


/* // Шаблон микс и модификаторы (_) pattern (about, portfolio)*/


/***Стилазация фразы ошибки***/

.form__label {
  /*общий*/
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -22px;
  left: 7px;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 18px);
}


/***Конец стилазация фразы ошибки***/


/* Шаблон микс form */

.form__block {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "form__label_grid form__label_gridTwo""form__label_areas form__label_areas";
  -webkit-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit--gap: 32px;
  -moz--gap: 32px;
  gap: 32px;
  margin-bottom: 31px;
}

.form__label:not(:last-child) {
  margin-bottom: 28px;
}

.form__label_grid {
  grid-area: form__label_grid;
}

.form__label_gridTwo {
  grid-area: form__label_gridTwo;
}

.form__label_areas {
  grid-area: form__label_areas;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 24px 26px;
  border-radius: 15px;
  border: 1px solid transparent;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-mineShaft);
  outline: none;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 18.3px;
  color: var(--color-gray);
}

.form__input:focus-visible,
.form__textarea:focus-visible {
  background-color: var(--color-mercury);
}

.form__textarea {
  padding: 19px 28px;
  height: 200px;
}

.form__checkbox-container {
  position: relative;
  margin: 0 0 42px;
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 500;
  text-align: center;
  color: var(--color-mineShaft);
}

.form__input-checkbox {
  padding-left: 0;
  /*Убрали синий чекбокс, он на мобильнике высвечивается*/
  opacity: 0;
}

.form__label_checkbox {
  padding-left: 0;
}

.form__input-checkbox:focus-visible,
input[type="checkbox"]:focus-visible~label::before,
.checkbox-js:checked+.form__label_checkbox:focus-visible::before {
  border: 1px solid rgb(255, 105, 114);
  background-color: var(--color-asparagus);
  outline: none;
}


/*Для Галпа*/

.form__input-checkbox:focus-visible {
  outline: none;
}


/* // Для Галпа*/

.form__input-checkbox:hover,
input[type="checkbox"]:hover~label::before {
  border: 1px solid #0046A2;
  background-color: #0046A2;
}

.form__label_checkbox::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -16px;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 38px;
  height: 38px;
  background-color: var(--color-white);
  cursor: pointer;
  -webkit-transition: border-color 0.05s linear, background-color 0.05s linear;
  -ms-transition: border-color 0.05s linear, background-color 0.05s linear;
  -moz-transition: border-color 0.05s linear, background-color 0.05s linear;
  -o-transition: border-color 0.05s linear, background-color 0.05s linear;
  transition: border-color 0.05s linear, background-color 0.05s linear;
}

.checkbox-js:checked+.form__label_checkbox::before {
  border-color: var(--color-white);
  background-color: var(--color-white);
}

.form__label_checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -9px;
  border-top: 6px solid #0046A2;
  border-right: 6px solid #0046A2;
  border-radius: 2px;
  width: 22px;
  height: 15px;
  transform: rotate(133deg);
  cursor: pointer;
  -webkit-transition: background-image 0.05s linear;
  -ms-transition: background-image 0.05s linear;
  -moz-transition: background-image 0.05s linear;
  -o-transition: background-image 0.05s linear;
  transition: background-image 0.05s linear;
  display: none;
}

.checkbox-js:checked+.form__label_checkbox::after {
  display: block;
}

.form__checkbox-container .js-validate-error-label {
  top: -29px;
  left: 12%;
}

.form__desc {
  display: inline-block;
  padding-left: 33px;
  font-weight: 500;
}

.form__button {
  display: block;
  margin: 0 auto;
  padding: 21px 94px;
}

.form__button_filled:disabled,
.form__button_filled01:disabled {
  color: #999;
  border-color: #EAEAEA;
  background-color: #EAEAEA;
}


/* // Шаблон микс form */

.modals {
  position: relative;
}


/*** МИКС modal-Модальное окно РЕГИСТРАЦИЯ 1920px ***/

.trigger {
  display: none;
  justify-content: center;
  background-color: var(--color-white);
  position: fixed;
  overflow: auto;
  /*Будет прокрутка когда она не умещается в экране*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 990;
  /*Для js*/
  /*Для trigger-active*/
  transform: scale(0);
}

.trigger-active {
  display: block;
  align-items: center;
  height: 100%;
  background-color: rgba(51, 51, 51, .3);
  transform: scale(1);
}


/*** МИКС modal-Модальное окно РЕГИСТРАЦИЯ 1920px ***/


/*** Шаблон микс modal СПАСИБО 1920px***/

.modal,
.modal01,
.modal02,
.modal03,
.modal04 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(232, 232, 232, 0.60);
  backdrop-filter: blur(12.5px);
}

.modal_js,
.modal_js01,
.modal_js02,
.modal_js03,
.modal_js04 {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  /*Для js перекрыть .modal*/
}

.modal_js_active,
.modal_js01_active,
.modal_js02_active,
.modal_js03_active,
.modal_js04_active {
  visibility: visible;
  opacity: 1;
}

.modal__sps,
.modal__sps01,
.modal__sps02,
.modal__sps03,
.modal__sps04 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 624px;
  padding: 116px 30px 75px;
  border-radius: 10px;
  min-width: 260px;
  background-color: var(--color-white);
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  overflow: hidden;
}

.modal__sps_js,
.modal__sps_js01,
.modal__sps_js02,
.modal__sps_js03,
.modal__sps_js04 {
  display: none;
  opacity: 0;
}

.modal__sps_js_active,
.modal__sps_js01_active,
.modal__sps_js02_active,
.modal__sps_js03_active,
.modal__sps_js04_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}


/*Модалку модалку перекрыла*/

.modals__modal01.modal_js01_active .modal__sps_js01,
.modals__modal02.modal_js02_active .modal__sps_js02,
.modals__modal03.modal_js03_active .modal__sps_js03,
.modals__modal04.modal_js04_active .modal__sps_js04 {
  padding: 75px 30px;
  flex-basis: 520px;
}

.modal01__h2,
.modal02__h2,
.modal03__h2,
.modal04__h2 {
  font-size: 25px;
  line-height: 1.5;
}


/* // Модалку модалку перекрыла*/


/*Крест выключатель модального окна*/

.modal__close,
.modal__close01,
.modal__close02,
.modal__close03,
.modal__close04 {
  position: absolute;
  top: 15px;
  right: 15px;
  outline: none;
  border: 1px solid transparent;
  font-size: clamp(14px, 5vw, 25px);
  color: var(--color-lueViolet);
  -webkit-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  -o-transition: color .4s ease-in-out, background-color .4s ease-in-out;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
  cursor: pointer;
}

.modal__close:focus-visible,
.modal__close01:focus-visible,
.modal__close02:focus-visible,
.modal__close03:focus-visible,
.modal__close04:focus-visible {
  border: 1px solid var(--color-cobalt);
}

.modal__close:hover,
.modal__close01:hover,
.modal__close02:hover,
.modal__close03:hover,
.modal__close04:hover {
  color: var(--color-white);
  background-color: var(--color-cobalt);
}

.modal__close:active,
.modal__close01:active,
.modal__close02:active,
.modal__close03:active,
.modal__close04:active {
  opacity: .7;
}

.modal__h2 {
  margin-top: 0;
  margin-bottom: 70px;
  font-weight: 500;
  font-size: clamp(16px, 5vw, 32px);
  line-height: 1.2;
}
/*** // Шаблон микс modal СПАСИБО 1920px***/


/* Шаблон микс и модификаторы (_) контакт/contact */
.contact__item:not(:last-child) {
  margin-bottom: 24px;
}

.contact__text {
  display: flex;
  margin-left: auto;
  font-size: 18px;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact__text:focus-visible {
  outline: none;
  color: var(--color-asparagus);
}

.contact__text:hover {
  color: var(--color-cobalt);
}

.contact__text:active {
  opacity: .7;
}

.contact__text:hover svg circle {
  fill: var(--color-cobalt);
}

.contact__text svg {
  margin-right: 10px;
}

.contact__span-h3 {
  display: inline-block;
  margin-bottom: 7px;
}

.contact__span-text {
  display: block;
  font-size: 16px;
  font-weight: 400;
}


/* //Шаблон микс и модификаторы (_) контакт/contact */


/*---Яндекс карта map---*/

#map {
  margin: 0;
  padding: 0;
}


/*[class*="ground-pane"] {
  filter: grayscale(1)черно-белое
}*/

.ymaps-2-1-79-map ymaps {
  border-radius: 15px;
}


/* Скрыла рекламу такси и всякий мусор */

.ymaps-2-1-79-copyrights-pane {
  display: none;
}


/*--- // Яндекс карта map---*/


/***Шапка header-1920px***/

.header {
  position: relative;
  margin: 37px 0;
  z-index: 2;
}

.header__padding {
  display: flex;
  align-items: center;
  padding: 20px 70px;
  border-radius: 15px;
  background-color: var(--color-white);
}

.header__logo {
  margin-right: auto;
}

.header__logo:focus-visible {
  outline-offset: 8px;
  outline: 1px solid var(--color-asparagus);
}

.burger {
  position: relative;
  display: none;
  margin-top: -10px;
  padding: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
  cursor: pointer;
}

/*Анимируем крест бургера*/
.burger span {
  background: var(--color-mineShaft);
  display: block;
  width: 100%;
  height: 4px;
  transition: transform 500ms;
}

.burger span:nth-child(2) {
  margin-top: 7px;
  height: 3.9px;
  transition-delay: 100ms;
}

.burger span:nth-child(3) {
  margin-top: 7px;
  transition-delay: 100ms;
}

.burger.active span:nth-child(1) {
  transform: rotate(-45deg) translateX(-8px) translateY(7px);
}

.burger.active span:nth-child(2) {
  margin-top: 8px;
  transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
  opacity: 0;
}
/* // Анимируем крест бургера */

.header__block-menu {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 1fr 189px;
  -o-grid-template-columns: 1fr 189px;
  -moz-grid-template-columns: 1fr 189px;
  -ms-grid-template-columns: 1fr 189px;
  grid-template-columns: 1fr 189px;
  -webkit--gap: 38px;
  -moz--gap: 38px;
  gap: 38px;
  align-items: center;
}

.header__nav {
  margin: -4px 0 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 600;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__link:focus-visible {
  outline: none;
  color: var(--color-asparagus);
}

.header__link:hover {
  color: var(--color-cobalt);
}

.header__link:active {
  opacity: .7;
}

.header__phone {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 18px;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.header__phone:focus-visible {
  outline: none;
  color: var(--color-asparagus);
}

.header__phone:hover {
  color: var(--color-cobalt);
}

.header__phone:active {
  opacity: .7;
}

.header__phone:hover svg circle,
.header__phone:hover svg path {
  fill: var(--color-cobalt);
}

.header__phone svg {
  margin-right: 10px;
}

.header__nav-icone {
  display: none;
}


/*** // Шапка header-1920px***/


/*** Слайдер hero-1920px***/

.hero {
  position: relative;
  margin-top: -152px;
}

.hero__swiper_one {
  background: url("../img/swiper-1/01.png") 0% 0% / cover no-repeat;
}

.hero__swiper_two {
  background: url("../img/swiper-1/02.png") 0% 0% / cover no-repeat;
}

.hero__swiper_three {
  background: url("../img/swiper-1/03.png") 0% 0% / cover no-repeat;
}

.hero__mySwiper .swiper-horizontal>.swiper-pagination-bullets,
.hero__mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: 40.4%;
  left: 25%;
  z-index: 1;
}

.hero__container_padding {
  padding-top: 190px;
  padding-bottom: 469px;
}


/*булить стала палочкой*/

.hero__pagination .swiper-pagination-bullet {
  position: relative;
  border-radius: 100px;
  width: 52px;
  height: 4px;
}


/* цвет булита */

.hero__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-cobalt);
}


/*булить палочки отталкиваем друг от друга*/

.hero__mySwiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.hero__mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px;
}

.hero__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.hero__pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  position: relative;
  top: 19px;
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.hero__pagination .swiper-pagination-bullet:first-child:before {
  content: "01";
  position: absolute;
  top: -8px;
  left: -39px;
  font-size: 18px;
}

.hero__pagination .swiper-pagination-bullet:last-child:before {
  content: "03";
  position: absolute;
  top: -8px;
  right: -34px;
  font-size: 18px;
}

.hero__h2 {
  margin-bottom: 94px;
  padding: 0 70px 0 140px;
  width: 545px;
  font-size: clamp(20px, 5vw, 50px);
  line-height: 1.23;
  text-align: start;
  text-transform: uppercase;
}

.hero__btn {
  margin: 0 70px 0 140px;
}


/*** // Слайдер hero-1920px***/


/***  О нас about-1920px***/

.about {
  position: relative;
  margin-top: -115px;
  padding-top: 27px;
  padding-bottom: 51px;
  z-index: 1;
}

.about__container {
  position: relative;
  padding-top: 23px;
  padding-bottom: 101px;
  width: 1170px;
}

.about__h2 {
  margin-top: -59px;
  margin-bottom: 46px;
}

.about__grid {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: repeat(2, 1fr);
  -o-grid-template-columns: repeat(2, 1fr);
  -moz-grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  -webkit--gap: 32px;
  -moz--gap: 32px;
  gap: 32px;
}

.about__h3 {
  margin-bottom: 24px;
}

.about__desc {
  margin-bottom: 18px;
}

.about__img img {
  border-radius: 20px;
}


/*** // О нас about-1920px***/


/*** обещать promise-1920px***/

.promise {
  padding: 51px 0 104px;
}

.promise__list {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: repeat(4, 1fr);
  -o-grid-template-columns: repeat(4, 1fr);
  -moz-grid-template-columns: repeat(4, 1fr);
  -ms-grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  -webkit--gap: 32px;
  -moz--gap: 32px;
  gap: 32px;
}

.promise__item {
  text-align: center;
}

.promise__img {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.promise__desc {
  font-size: 16px;
  line-height: 1.1;
}


/*** // обещать promise-1920px***/


/*** Виды услуг services-1920px***/

.services {
  position: relative;
  width: 100%;
  padding-bottom: 164px;
  background-color: var(--color-mercury);
  background: url("../img/rectangle-center.png") center / cover no-repeat;
}

.services__h2 {
  margin-bottom: 48px;
  padding: 23px 0 0;
  text-align: center;
}

.services__mySwiper .swiper-container {
  width: 100%;
  height: 100%;
}

.services__mySwiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: auto;
  text-align: center;
}

.services__mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__btnCard {
  position: relative;
  padding: 185px 0 68px;
  border-radius: 20px;
  width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
}

.services__btnCard_one {
  background: url("../img/img-services/01.jpg") center / cover no-repeat;
}

.services__btnCard_two {
  background: url("../img/img-services/02.jpg") center / cover no-repeat;
}

.services__btnCard_three {
  background: url("../img/img-services/03.jpg") center / cover no-repeat;
}

.services__btnCard_four {
  background: url("../img/img-services/04.jpg") center / cover no-repeat;
}

.services__btnCard .services__desc_hover {
  display: none;
}

.services__btnCard:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 107px 100px 20px 20px;
  height: 208px;
  background: #06F;
}

.services__btnCard:focus-visible.services__btnCard_one {
  background: url("../img/img-services/color-01.jpg") center / cover no-repeat;
}

.services__btnCard:hover.services__btnCard_one {
  background: url("../img/img-services/color-blue-01.jpg") center / cover no-repeat;
}

.services__btnCard:hover .services__desc_hoverNone {
  display: none;
}

.services__btnCard:active.services__btnCard_one,
.services__btnCard:active.services__btnCard_two,
.services__btnCard:active.services__btnCard_three,
.services__btnCard:active.services__btnCard_four {
  opacity: .7;
}

.services__btnCard:hover.services__btnCard_one .services__btn,
.services__btnCard:hover.services__btnCard_two .services__btn,
.services__btnCard:hover.services__btnCard_three .services__btn,
.services__btnCard:hover.services__btnCard_four .services__btn {
  transform: rotate(180deg) translateX(50%);
}

.services__btnCard:hover.services__btnCard_one .services__desc_hover,
.services__btnCard:hover.services__btnCard_two .services__desc_hover,
.services__btnCard:hover.services__btnCard_four .services__desc_hover {
  display: block;
  margin-top: 83px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1;
}

.services__btnCard:hover.services__btnCard_four .services__desc {
  margin-bottom: 32px;
}

.services__btnCard:hover.services__btnCard_three .services__desc_hover {
  display: block;
  margin-top: 97px;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 1;
}

.services__btnCard:focus-visible.services__btnCard_two {
  background: url("../img/img-services/color-02.jpg") center / cover no-repeat;
}

.services__btnCard:hover.services__btnCard_two {
  background: url("../img/img-services/color-blue-02.jpg") center / cover no-repeat;
}

.services__btnCard:focus-visible.services__btnCard_three {
  background: url("../img/img-services/color-03.jpg") center / cover no-repeat;
}

.services__btnCard:hover.services__btnCard_three {
  background: url("../img/img-services/color-blue-03.jpg") center / cover no-repeat;
}

.services__btnCard:focus-visible.services__btnCard_four {
  background: url("../img/img-services/color-04.jpg") center / cover no-repeat;
}

.services__btnCard:hover.services__btnCard_four {
  background: url("../img/img-services/color-blue-04.jpg") center / cover no-repeat;
}

.services__btnCard_three {
  padding: 185px 0 55px;
}

.services__btnCard_four .services__svg {
  margin: 0 auto 41px;
}

.services__svg {
  margin: 0 auto 48px;
}

.services__desc {
  position: relative;
  margin: 0 auto 56px;
  width: 216px;
  font-size: 20px;
  line-height: 1.1;
  color: var(--color-white);
  z-index: 1;
}

.services__btn {
  position: absolute;
  bottom: 58px;
  /*центрируем по PP*/
  left: 49%;
  /*центрируем по PP*/
  transform: translateX(-49%);
  transition: 0.3s;
  outline: none;
}

.services__btn:focus-visible path {
  stroke: var(--color-asparagus);
}

.services__pagination {
  display: none;
}

.services__pagination.swiper-horizontal>.swiper-pagination-bullets,
.services__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  margin: 60px auto 0;
  width: 299px;
}


/*булить стала палочкой*/

.services__pagination .swiper-pagination-bullet {
  position: relative;
  border-radius: 100px;
  width: 52px;
  height: 4px;
}


/* цвет булита */

.services__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-cobalt);
}


/*булить палочки отталкиваем друг от друга*/

.services__mySwiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.services__mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px;
}

.services__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.services__pagination .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  position: relative;
  top: 19px;
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.services__pagination .swiper-pagination-bullet:first-child:before {
  content: "01";
  position: absolute;
  top: -8px;
  left: -39px;
  font-size: 18px;
}

.services__pagination .swiper-pagination-bullet:last-child:before {
  content: "04";
  position: absolute;
  top: -8px;
  right: -34px;
  font-size: 18px;
}


/*** // Виды услуг services-1920px***/


/*** Нам доверяют partners-1920px***/

.partners {
  padding-bottom: 50px;
}

.partners__h2 {
  margin: -19px 0 52px;
  text-align: center;
}

.partners__list {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: repeat(3, 1fr);
  -o-grid-template-columns: repeat(3, 1fr);
  -moz-grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  -webkit--gap: 30px;
  -moz--gap: 30px;
  gap: 30px;
}

.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 259px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);
}


/*** // Нам доверяют partners-1920px***/


/*** ПОРТФОЛИО работ portfolio-1920px***/

.portfolio {
  padding: 50px 0 52px;
}

.portfolio__container .swiper-container {
  width: 100%;
  height: 100%;
}

.portfolio__container .swiper-slide img {
  position: absolute;
  display: block;
  width: 51.3%;
  height: max-content;
  object-fit: cover;
}

.portfolio__overflow {
  overflow: hidden;
}

.portfolio__padding {
  padding: 60px 0 117px;
}

.portfolio__mySwiper {
  position: relative;
  padding-bottom: 51px;
}

.portfolio__mySwiper.swiper {
  overflow: inherit;
}

.portfolio__mySwiper.figure:before {
  width: 40.2%;
}

.portfolio__mySwiper.figure:after {
  left: 40.2%;
}

.portfolio__span.figure-span {
  left: 39.2%;
}

.portfolio__wrapper.swiper-wrapper {
  box-sizing: content-box;
}

.portfolio__h2 {
  margin: -34px 0 44px 0;
  padding-left: 70px;
  width: 282px;
}

.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 38.9% 1fr;
  -o-grid-template-columns: 38.9% 1fr;
  -moz-grid-template-columns: 38.9% 1fr;
  -ms-grid-template-columns: 38.9% 1fr;
  grid-template-columns: 38.9% 1fr;
  -webkit--gap: 30px;
  -moz--gap: 30px;
  gap: 30px;
  padding: 0 70px;
}

.portfolio__info .pattern__h3 {
  margin-bottom: 10px;
}

.portfolio__img img {
  border-radius: 20px;
}

.portfolio__pagination {
  margin-bottom: -107px;
  margin-left: 11.5%;
  width: 180px;
  font-size: 50px;
  line-height: 90.5%;
  letter-spacing: 0.5px;
  color: #333132;
}

.portfolio__pagination .swiper-pagination-current {
  font-size: 85px;
  letter-spacing: 0.85px;
}

.portfolio__button.swiper-button-prev:after,
.portfolio__button.swiper-button-next:after {
  display: none;
}

.portfolio__button.swiper-button-next,
.portfolio__button.swiper-button-prev {
  position: absolute;
  top: inherit;
  bottom: -96px;
  width: 56px;
  height: 50px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__button.swiper-button-prev {
  left: 6%;
}

.portfolio__button.swiper-button-next {
  left: 29.5%;
  transform: rotate(180deg);
}

.portfolio__pagination_555 {
  display: none;
}
/*** // ПОРТФОЛИО работ portfolio-1920px***/


/*** Оставьте заявку работ forms-1920px***/
.forms {
  padding: 51px 0;
}

.forms__background {
  padding: 50px 70px 100px;
  border-radius: 35px;
  background: url("../img/rectangle-green.png") top / cover no-repeat;
}

.forms__h2 {
  margin: -24px 0 51px;
  width: 222px;
}


/*** // Оставьте заявку работ forms-1920px***/


/* modals - openModal микс 1920px */

.registration {
  background: rgba(232, 232, 232, 0.60);
  backdrop-filter: blur(12.5px);
}

.registration>div {
  position: relative;
  margin: 30px auto;
  padding-bottom: 68px;
  border-radius: 20px;
  width: 1001px;
  background: var(--color-athensGray);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}

.registration__white {
  position: relative;
  margin-bottom: 49px;
  padding: 30px 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--color-white);
}

.registration__logo {
  display: block;
  width: 260px;
  height: 96px;
}

.registration__logo:focus-visible {
  outline-offset: 8px;
  outline: 1px solid var(--color-asparagus);
}

.registration__logo img {
  width: 100%;
  height: 100%;
}

.registration__close {
  position: absolute;
  top: 45px;
  right: 43px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: 1;
}

.registration__close:focus-visible svg path {
  stroke: var(--color-asparagus);
}

.registration__close:hover svg path {
  stroke: var(--color-gray);
}

.registration__close:active svg path {
  opacity: .7;
}

.registration__block-menu {
  display: none;
}

.registration__img {
  display: none;
}

.registration__block {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 350px 1fr;
  -o-grid-template-columns: 350px 1fr;
  -moz-grid-template-columns: 350px 1fr;
  -ms-grid-template-columns: 350px 1fr;
  grid-template-columns: 350px 1fr;
  -webkit--gap: 52px;
  -moz--gap: 52px;
  gap: 52px;
  padding: 0 50px;
}

.registration__h2 {
  margin-bottom: 19px;
  font-size: clamp(32px, 5vw, 65px);
  color: var(--color-fiord);
}

.registration__desc {
  font-size: clamp(14px, 2vw, 30px);
  line-height: 1.17;
  color: var(--color-mineShaft);
}

.registration__block .form__block {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 7px 0 27px;
}

.registration__block .form__checkbox-container {
  display: flex;
  margin: 0 0 25px;
}

.registration__block .form__input-checkbox {
  display: none;
}

.registration__block .form__label:not(:last-child) {
  margin-bottom: 28px;
}

.registration__block .form__label_checkbox::before {
  left: 0;
}

.registration__block .form__label_checkbox::after {
  top: 4px;
  left: 7px;
}

.registration__block .form__desc {
  margin-top: -5px;
  padding-left: 47px;
  text-align: start;
  font-size: 14.2px;
  line-height: 1.2;
}

.registration__block .form__button {
  padding: 16px 17px 18px;
  width: 100%;
  font-size: 22px;
}

.registration__block .form__label_areas .js-validate-error-label {
  top: -21px;
}

.registration__block .form__checkbox-container .js-validate-error-label {
  left: 0;
}


/* // modals - openModal микс 1920px */


/* Контакты contacts 1920px */

.contacts {
  padding-bottom: 51px;
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 268px 1fr;
  -o-grid-template-columns: 268px 1fr;
  -moz-grid-template-columns: 268px 1fr;
  -ms-grid-template-columns: 268px 1fr;
  grid-template-columns: 268px 1fr;
  -webkit--gap: 32px;
  -moz--gap: 32px;
  gap: 32px;
  padding: 49px 140px;
}

.contacts__h2 {
  margin-bottom: 27px;
}

.contacts__conditionality {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray8s);
  text-decoration-line: underline;
}

.contacts__nav-icone {
  margin-bottom: 30px;
}

.contacts__nav-icone .icone__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__list {
  margin-bottom: 23px;
}

.contacts__map {
  border-radius: 15px;
  width: 100%;
  height: 370px;
  background: url("../img/icone-contacts/map.jpg") center / cover no-repeat;
}
/* // Контакты contacts 1920px */


/* Подвал footer 1920px */
.footer {
  padding: 52px 0;
  background-color: var(--color-mercury);
}

.footer__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-grid-template-columns: 1fr 270px 300px;
  -o-grid-template-columns: 1fr 270px 300px;
  -moz-grid-template-columns: 1fr 270px 300px;
  -ms-grid-template-columns: 1fr 270px 300px;
  grid-template-columns: 1fr 270px 300px;
  -webkit--gap: 30px;
  -moz--gap: 30px;
  gap: 30px;
  margin: 0 auto;
  width: 1170px;
}

.footer__up {
  position: absolute;
  top: -151px;
  right: -42px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  outline: none;
}

.footer__up:focus-visible svg circle {
  fill: var(--color-cobalt);
}

.footer__up:hover svg circle {
  fill: var(--color-asparagus);
}

.footer__up:active svg circle {
  opacity: .7;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 40px;
  width: max-content;
}

.footer__logo:focus-visible img {
  outline-offset: 8px;
  outline: 1px solid var(--color-asparagus);
}

.footer__desc {
  margin-bottom: 50px;
  line-height: 18.5px;
}

.footer__list {
  margin-bottom: 35px;
}

.footer__item {
  margin-bottom: 26px;
}

.footer__link {
  font-weight: 600;
  font-size: 16px;
}

.footer__conditionality {
  display: inline-block;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray8s);
  text-decoration-line: underline;
}

.footer__rights_none1920 {
  display: none;
}

.footer__devised {
  display: flex;align-items: center;
}

.footer__devised img {
  margin-top: 2px;
  padding-left: 9px;
}

.footer__right-list {
  margin-bottom: 23px;
}

.footer__nav-icone .icone__item:not(:last-child) {
  margin-right: 20px;
}
/* // Подвал footer 1920px */

@media (max-width: 1484px) {
  .hero__swiper_one {
    background: url("../img/swiper-1/01.png") center / cover no-repeat;
  }

  .hero__swiper_two {
    background: url("../img/swiper-1/02.png") center / cover no-repeat;
  }

  .hero__swiper_three {
    background: url("../img/swiper-1/03.png") center / cover no-repeat;
  }

  .registration>div {
    margin: 12px auto;
    padding-bottom: 16px;
  }

  /*modals - openModal*/
  .registration__white {
    margin-bottom: 25px;
    padding: 15px 25px;
  }

  .registration__logo {
    width: 100px;
    height: 30px;
  }

  .registration__close {
    top: 10px;
    right: 25px
  }

  .registration__close svg {
    width: 40px;
    height: 40px;
  }

  .registration__desc br {
    display: none;
  }

  .registration__block {
    -webkit-grid-template-columns: 37.2% 1fr;
    -o-grid-template-columns: 37.2% 1fr;
    -moz-grid-template-columns: 37.2% 1fr;
    -ms-grid-template-columns: 37.2% 1fr;
    grid-template-columns: 37.2% 1fr;
    padding: 0 30px;
  }

  .registration__block .form__label:not(:last-child) {
    margin-bottom: 24px;
  }

  .registration__block .form__input {
    padding: 16px;
  }

  .registration__block .form__textarea {
    padding: 16px;
  }

  .registration__block .form__block {
    margin-bottom: 27px;
  }

  .registration__block .form__checkbox-container {
    margin: 0 0 12px;
  }

  .registration__block .form__label_checkbox::before {
    width: 30px;
    height: 30px;
  }

  .registration__block .form__label_checkbox::after {
    top: -1px;
    left: 5px;
    width: 18px;
    height: 13px;
  }

  .registration__block .js-validate-error-label {
    top: -19px;
  }

  .registration__block .form__desc {
    display: block;
  }

  .registration__block .form__checkbox-container .js-validate-error-label {
    top: -28px;
  }

  .registration__block .form__button {
    padding: 17px;
    font-size: 17px;
  }

  .footer__up {
    top: -130px;
    right: 20px;
  }  

  .footer__up svg {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1252px) {
  [class*="__container"] {
    padding: 0 50px;
  }

  .header__item:not(:last-child) {
    margin-right: 20px;
  }

  .header__padding {
    padding: 20px 50px;
  }

  .hero__container_padding {
    padding-top: 190px;
    padding-bottom: 469px;
  }

  .about__container {
    padding-bottom: 80px;
    width: 100%;
  }

  .portfolio__h2 {
    padding-left: 40px;
  }

  .portfolio__grid {
    -webkit-grid-template-columns: 47% 50%;
    -o-grid-template-columns: 47% 50%;
    -moz-grid-template-columns: 47% 50%;
    -ms-grid-template-columns: 47% 50%;
    grid-template-columns: 47% 50%;
    padding: 0 40px;
  }

  .portfolio__container .swiper-slide img {
    position: relative;
    width: 100%;
  }


  .footer__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .footer__left {
    width: 370px;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1133px) {
  .header__block-menu {
    gap: 15px;
  }

  .header__padding {
    padding: 20px 25px;
  }

  .hero__container_padding {
    padding-top: 190px;
    padding-bottom: 469px;
  }

  .hero__h2 {
    margin-bottom: 54px;
    padding: 0;
  }

  .hero__btn {
    margin: 0;
  }

  .about__container {
    padding-top: 23px;
    padding-bottom: 101px;
  }

  .promise__list {
    -webkit-grid-template-columns: repeat(2, 1fr);
    -o-grid-template-columns: repeat(2, 1fr);
    -moz-grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .partners__list {
    display: flex;
    gap: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .partners__item {
    width: 48%;
  }

  .partners__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .forms__background {
    padding: 50px 25px 100px;
  }

  .form__block {
    margin-bottom: 26px;
  }

  .form__desc {
    display: inline;
  }

  .registration>div {
    width: 90%;
  }
}

@media (max-width: 999px) {
  [class*="__container"] {
    padding: 0 19px;
  }

  .icone__list {
    display: flex;
    justify-content: center;
  }

  .icone__item:not(:last-child) {
    margin-right: 27px;
  }

  .header {
    margin: 0;
  }

  .header__container {
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--color-white);
  }

  .header__padding {
    padding: 15px 0;
    border-radius: 0;
    background-color: transparent;
  }

  .header__logo {
    width: 80px;
  }

  /*JS для burger-а*/
  .menu {
    /*Скрывает меню*/
    transform: translateY(-300%);
  }

  .menu.is-active {
    /*is-active js*/
    transform: none;
  }

  .burger {
    display: block;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }

  .header__block-menu {
    position: absolute;
    top: 43px;
    left: 0;
    display: block;
    padding: 18px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    background-color: #fff;
    z-index: -1;
  }

  .header__nav {
    margin: 0 0 24px;
    width: 100%;
  }

  .header__nav .icone__list {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    margin-left: -67px;
    padding: 0 40px 0 20px;
    z-index: 1;
    background-color: var(--color-white);
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__item:not(:last-child) {
    margin: 0 0 24px;
  }

  .header__phone {
    display: none;
    margin: 0 auto;
  }

  .header__nav-icone {
    display: block;
  }

  .hero {
    margin-top: 0;
  }

  .hero__swiper {
    position: relative;
    margin-top: -76px;
  }

  .hero__container_padding {
    padding-top: 679px;
    padding-bottom: 122px;
  }

  .hero__swiper {
    border-radius: 20px;
  }

  .hero__swiper_one {
    background: url("../img/swiper-1/01-320.png") center / contain no-repeat;
    background-color: var(--color-mercury);
  }

  .hero__swiper_two {
    background: url("../img/swiper-1/02-320.png") center / contain no-repeat;
    background-color: var(--color-mercury);
  }

  .hero__swiper_three {
    background: url("../img/swiper-1/03-320.png") center / contain no-repeat;
    background-color: var(--color-mercury);
  }

  .hero__mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    left: 6px;
    bottom: 45px;
    text-align: center;
  }

  .hero__pagination .swiper-pagination-bullet:first-child:before {
    left: -43px;
  }

  .hero__pagination .swiper-pagination-bullet:last-child:before {
    right: -41px;
  }

  .hero__h2 {
    margin: 117px auto 48px;
    width: 78%;
    text-align: center;
  }

  .hero__btn {
    display: block;
    margin: 0 auto;
    padding: 22px 51px 21px;
  }

  .about {
    margin-top: 0;
    padding-top: 205px;
  }

  .about__container {
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .about__grid {
    display: flex;
    flex-direction: column;
  }

  .about__info {
    order: 2;
  }

  .about__img {
    order: 1;
    margin: 0 auto;
  }

  .services__desc br {
    display: none;
  }

  .partners__list {
    display: block;
  }

  .partners__item {
    width: 100%;
  }

  .portfolio__grid {
    display: flex;
    flex-direction: column;
  }

  .portfolio__info {
    order: 2;
  }

  .portfolio__img {
    order: 1;
    margin: 0 auto;
  }

  .portfolio__button.swiper-button-next {
    left: 222px;
  }

  .portfolio__button.swiper-button-prev {
    left: 26px;
  }

  .portfolio__pagination {
    margin-left: 58px;
  }  
  
  .forms__background {
    background: url("../img/rectangle-green-320.png") top / cover no-repeat;
  }

  .forms__h2 {
    margin: -24px auto 51px;
    text-align: center;
  }

  .forms__form .js-validate-error-label {
    top: -19px;
  }

  .forms__form .form__label_areas .js-validate-error-label {
    top: -202px;
  }

  .forms__form .form__checkbox-container {
    display: flex;
    text-align: start;
  }

  .forms__form .form__checkbox-container .js-validate-error-label {
    top: -28px;
    left: 0;
  }

  .form__block {
    display: block;
  }

  .form__label:not(:last-child) {
    display: block;
    margin-bottom: 20px;
  }

  .registration__burger {
    display: none;
  }

  .registration__block {
    -webkit-grid-template-columns: 34% 1fr;
    -o-grid-template-columns: 34% 1fr;
    -moz-grid-template-columns: 34% 1fr;
    -ms-grid-template-columns: 34% 1fr;
    grid-template-columns: 34% 1fr;
  }


  .footer__up {
    top: -100px;
    right: 20px;
  }  

  .footer__up svg {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 717px) {
  .figure:before {
    width: 178px;
  }

  .figure:after {
    left: 178px;
  }

  .figure-span {
    left: 177px;
  }

  /* // Шаблон микс figure 717px*/
  .about {
    padding-top: 102px;
    padding-bottom: 39px;
  }

  .promise {
    padding: 36px 0 16px;
  }

  .promise__list {
    display: block;
    gap: 0;
  }

  .promise__item {
    margin-bottom: 33px;
  }

  .promise__desc {
    line-height: 1.2;
  }

  .registration {
    background: transparent;
    backdrop-filter: none;
  }

  .registration>div {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    background-color: var(--color-white);
  }

  .registration__white {
    display: flex;
    padding: 15px 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }

  .registration__logo {
    margin-right: auto;
    width: 80px;
  }

  .registration__close {
    top: 6px;
    right: 0;
    left: 12px;
    width: 97px;
    opacity: 0;
  }

  .registration__close:hover {
    border: 1px solid var(--color-asparagus);
    background-color: var(--color-white);
    opacity: 1;
  }

  .registration__close svg {
    padding: 5px;
    width: 100%;
    height: 48px;
  }

  .registration__burger {
    display: block;
  }

  .registration__burger.burger {
    margin-top: 2px;
  }

  .registration__block-menu {
    position: absolute;
    top: 62px;
    left: 0;
    display: block;
    padding: 18px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    background-color: #fff;
    z-index: -1;
  }

  .registration__nav {
    margin: 0 0 24px;
    width: 100%;
  }

  .registration__list {
    text-align: center;
  }

  .registration__item:not(:last-child) {
    margin: 0 0 24px;
  }

  .registration__link {
    font-size: clamp(16px, 5vw, 18px);
    font-weight: 600;
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .registration__nav-icone {
    display: block;
  }

  .registration__img {
    position: relative;
    display: block;
    margin: 0 auto 28px;
    width: 232px;
    height: 128px;
    background: url("../img/phone-320.png") left / contain no-repeat;
    z-index: -2;
  }

  .registration__block {
    position: relative;
    display: block;
    padding: 0 23px 32px;
    background: url("../img/rectangle-320.png") top / cover no-repeat;
    z-index: -2;
  }

  .registration__h2 {
    margin-bottom: 9px;
    padding-top: 18px;
    text-align: center;
  }

  .registration__desc {
    margin-bottom: 21px;
    text-align: center;
  }

  .contacts__container {
    display: block;
  }

  .contacts__h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .contacts__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 27px;
  }

  .contacts__list .contact__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .contacts__list .contact__text svg {
    margin: 0 0 12px;
  }

  .contacts__list .contact__item:not(:last-child) {
    margin-bottom: 27px;
  }

  .contacts__nav-icone .icone__item:not(:last-child) {
    margin-right: 27px;
  }

  .contacts__conditionality {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 34px;
  }


  .footer {
    background-color: var(--color-mercury);
    border-radius: 20px 20px 0 0;
  }

  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer__up {
    display: none;
  } 

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer__logo {
    width: 57%;
  }

  .footer__desc {
    text-align: center;
  }

  .footer__rights_none1920 {
    display: block;
  }

  .footer__nav, .footer__rights_none717 {
    display: none;
  }
}

@media (max-width: 555px) {

  /* Шаблон микc. Показать и скрыть часть текста  jquery 555px*/
  .content-block {
    overflow: hidden;
    position: relative;
  }

  .content-block.hide {
    height: 107px;
  }

  .content-block.hide:after {
    content: "";
    display: block;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #e8e8e8 0%, rgba(39, 39, 39, 0.00) 100%);
  }

  /* Кнопка */
  .content-toggle {
    position: absolute;
    bottom: -33px;
    /*центрируем по PP*/
    left: 50%;
    /*центрируем по PP*/
    transform: translateX(-50%);
    display: inline-block;
    border-radius: 100%;
    border: 7px solid var(--color-white);
    padding: 24px;
    font-size: 16px;
    color: var(--color-white);
    background: var(--color-mercury);
  }

  .content-toggle:focus-visible {
    border: 7px solid transparent;
    outline: 7px solid var(--color-cobalt);
    color: var(--color-cobalt);
  }

  .content-toggle:focus-visible svg path {
    stroke: var(--color-cobalt);
  }

  .content-toggle:hover {
    background: var(--color-fruitSalad);
  }

  .content-toggle:active {
    background: var(--color-cobalt);
  }

  .arrow-t {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all .3s ease-in-out;
  }

  .arrow-t svg {
    margin-left: -9px;
    margin-top: -4px;
  }

  /* // Шаблон микс. Показать и скрыть часть текста  jquery 555px*/
  /* Шаблон микс figure 555px*/
  .figure {
    position: relative;
    border-radius: 0;
    background: url("../img/rectangle-320.png") center / cover no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
  }

  .figure:before,
  .figure:after,
  .figure-span {
    display: none;
  }

  /* // Шаблон микс figure 555px*/
  .hero__mySwiper {
    padding-top: 23px;
  }

  .hero__swiper {
    margin-top: -83px;
  }

  .hero__container_padding {
    padding-top: 266px;
    padding-bottom: 81px;
  }

  .hero__h2 {
    margin: 71px auto 22px;
  }

  .hero__swiper {
    padding-bottom: 16px;
    background-position: top;
  }

  .hero__mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 48px;
  }

  .about {
    padding: 13px 0 14px;
  }

  .about__container {
    padding: 21px;
    padding-bottom: 28px;
  }

  .about__h2 {
    margin-top: -5px;
    margin-bottom: 9px;
    text-align: center;
  }

  .about__grid {
    -webkit--gap: 20px;
    -moz--gap: 20px;
    gap: 20px;
  }

  .about__img {
    margin: 0;
  }

  .about__img img {
    width: 100%;
    height: 191px;
  }

  .about__h3 {
    margin-bottom: 9px;
    line-height: 1.21;
  }

  .services {
    padding-bottom: 37px;
    background: url("../img/rectangle-320.png") center / cover no-repeat;
    background-size: 127% 100%;
  }

  .services__btnCard {
    width: 96%;
  }

  .services__svg {
    margin: 0 auto 45px;
  }

  .services__h2 {
    margin-bottom: 25px;
    padding: 16px 0 0;
  }

  .services__pagination {
    display: block;
  }

  .services__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin: 29px auto 0;
    width: 208px;
  }

  .services__pagination .swiper-pagination-bullet {
    width: 37px;
  }

  .services__pagination .swiper-pagination-bullet:first-child:before {
    left: -41px;
  }

  .services__mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 11px;
  }

  .partners {
    padding: 63px 0 24px;
  }

  .partners__h2 {
    margin-bottom: 57px;
  }

  .partners__item {
    height: 121px;
  }

  .partners__item:not(:last-child) {
    margin-bottom: 19px;
  }

  .partners__item img {
    max-width: 67%;
  }

  .portfolio {
    padding: 25px 0 14px;
  }

  .portfolio__container {
    padding: 0;
    border-radius: 20px;
  }

  .portfolio__overflow {
    overflow: inherit;
  }

  .portfolio__padding {
    padding: 0;
  }

  .portfolio__mySwiper {
    padding-bottom: 0;
  }

  .portfolio__mySwiper.figure {
    background: none;
  }

  .portfolio__mySwiper.figure-span {
    display: none;
  }

  .portfolio__container .swiper-slide img {
    height: 270px;
  }

  .portfolio__swiper {
    border-radius: 20px;
    height: auto;
    background: url("../img/rectangle-320.png") top / cover no-repeat;
  }

  .portfolio__h2 {
    margin: 18px 0 19.5px;
    padding-left: 0;
    text-align: center;
    line-height: .9;
  }

  .portfolio__grid {
    gap: 63px;
    padding: 0 19px;
  }

  .portfolio__info {
    padding-bottom: 40px;
  }

  .portfolio__text.content-block.hide {
    height: 137px;
  }

  .portfolio__text.content-block.hide:after {
    height: 142px;
  }

  .portfolio__button svg {
    display: none;
  }

  .portfolio__btn.arrow-t {
    z-index: 1;
  }

  .portfolio__pagination {
    margin: 0;
  }

  .portfolio__pagination_1920,
  .portfolio__button.swiper-button-next {
    display: none;
  }

  .portfolio__pagination_555 {
    display: block;
  }

  .portfolio__pagination_555.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    top: 363px;
    left: 59px;
    width: 80%;
    height: max-content;
    z-index: 1;
  }

  /*булить стала палочкой*/
  .portfolio__pagination_555 .swiper-pagination-bullet {
    position: relative;
    border-radius: 100px;
    width: 51px;
    height: 4px;
  }

  /* цвет булита */
  .portfolio__pagination_555 .swiper-pagination-bullet-active {
    background-color: var(--color-cobalt);
  }

  /*булить палочки отталкиваем друг от друга*/
  .portfolio__mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 16px;
  }

  .portfolio__pagination_555 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .portfolio__pagination_555 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    position: relative;
    top: 19px;
    display: flex;
    align-items: center;
    margin-left: 19px;
  }

  .portfolio__pagination_555 .swiper-pagination-bullet:first-child:before {
    content: "01";
    position: absolute;
    top: -20px;
    left: -43px;
    font-size: 18px;
  }

  .portfolio__pagination_555 .swiper-pagination-bullet:last-child:before {
    content: "03";
    position: absolute;
    top: -20px;
    right: -44px;
    font-size: 18px;
  }

  .portfolio__info .pattern__h3 {
    margin-bottom: 11px;
  }

  .portfolio__btn.content-toggle {
    bottom: -30px;
  }

  .forms {
    padding: 45px 0;
  }

  .forms__container {
    background: url("../img/rectangle-green-320.png") top / cover no-repeat;
  }

  .forms__container .form__block {
    margin-bottom: 24px;
  }

  .forms__container .form__textarea {
    height: 200px;
  }

  .forms__container .form__input {
    padding: 25px 29px;
  }

  .forms__container .form__textarea {
    padding: 21px 29px;
  }

  .forms__container .form__input::placeholder,
  .forms__container .form__textarea::placeholder {
    font-size: 18.2px;
  }

  .forms__container .form__checkbox-container {
    margin: 0 0 21px;
    text-align: start;
  }

  .forms__container .form__input-checkbox {
    display: none;
  }

  .forms__container .form__label_checkbox::before {
    left: 0;
  }

  .forms__container .form__label_checkbox::after {
    top: 0;
    left: 7px;
  }

  .forms__container .form__label_checkbox {
    display: flex;
    padding-left: 0;
  }

  .forms__container .form__desc {
    margin-top: -8px;
    padding-right: 8px;
    padding-left: 50px;
    line-height: 1.15;
  }

  .forms__container .form__button {
    margin: 0;
    padding: 21px 100px;
  }

  .forms__background {
    padding: 50px 0 30px;
    background: transparent;
  }

  .forms__h2 {
    margin: -33px auto 31px;
    line-height: .87;
  }

  /*modals - openModal*/
  .registration__block .form__label:not(:last-child) {
    margin-bottom: 22px;
  }

  .registration__block .form__input {
    padding: 23.5px;
  }

  .registration__block .form__textarea {
    padding: 25px 28px;
  }

  .registration__block .form__textarea::placeholder {
    font-size: 18px;
  }

  .registration__block .form__block {
    margin-bottom: 23px;
  }

  .registration__block .form__checkbox-container {
    margin: 0 0 18px;
  }

  .registration__block .form__label_checkbox::before {
    top: -5px;
    width: 36px;
    height: 38px;
  }

  .registration__block .form__label_checkbox::after {
    top: 5px;
    left: 9px;
  }

  .registration__block .form__button {
    padding: 20px 17px;
    font-size: 17px;
  }


  .contacts__map, .contacts__map .ymaps-2-1-79-map .ymaps {
    height: 280px;
  }


  .footer {
    padding: 29px 0;
  } 
  
  .footer__container {
    gap: 0;
  }
  
  .footer__logo {
    margin-bottom: 16px;
    width: 200px;
  }

  .footer__desc {
    margin-bottom: 20px;
    line-height: 17.3px;
  }

  .footer__conditionality {
    margin-bottom: 22px;
  }  

  .footer__rights {
    margin-bottom: 22px;
    text-align: center;
  }

  .footer__devised {
    font-size: 16px;
    width: 210px;
    margin: 0 auto;
  }

}

@media (max-width: 360px) {
  .registration__block {
    background: url(../img/rectangle-320-phone.png)
  }
}


/******/